<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("JENKINS", "Home", "About", new { area = "" }, new { @class = "navbar-brand" })*@
                <a href="@Url.Action("About","Web")"><img src="https://media-cdn.tripadvisor.com/media/photo-s/03/9b/30/37/stockholm.jpg" alt="Stockholm" width="50" height="50"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li> @Html.ActionLink("Home","Home","Web")</li>
                    <li> @Html.ActionLink("About", "About", "Web")</li> @*1 wiew 2, action 3. controll*@
                    <li> @Html.ActionLink("Project", "Project", "Web")</li>
                    <li> @Html.ActionLink("Contact", "Contact", "Web")</li>
                    <li> @Html.ActionLink("Tempature", "Tempature", "Web")</li>
                    <li> @Html.ActionLink("Game", "GuessingGame", "Web")</li>
                </ul>
        
           </div>    
        </div>
    </div>
    <div class=""></div>
    <div class="container body-content">
        @*<img src="https://media-cdn.tripadvisor.com/media/photo-s/03/9b/30/37/stockholm.jpg" alt="Stockholm" width="100" height="127" class="heroPhotoImg hoverHighlight">*@
        @RenderBody()
  
            }
    
            <footer>
                <p>&copy; Year: @DateTime.Now.Year month:@DateTime.Now.Month day:@DateTime.Now.Day hour:@DateTime.Now.Hour min:@DateTime.Now.Minute- My ASP.NET Application</p>

                <p>&copy; Made by Adam</p>
            </footer>
</div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>